@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

/******** Variables ********/
:root {
  --clr-light: #ffffff;
  --clr-base1: #cadcbb;
  --clr-base2: #2f904f;
  --clr-accent: #237c23;
  --clr-card: #62ad62;
  --clr-dark: #424242;
  --clr-gray: #a8a8a8;

  --ff-primary: 'Gamja Flower', cursive;
  --ff-secondary: 'Arial', sans-serif;

  --fs-title: 50px;
  --fs-navlink: 20px;
  --fs-buttons: 25px;
  --fs-name: 35px;
  --fs-card: 25px;

  --fw-bold: 700;
  
}

body {
  background-color: var(--clr-base1);
  font-family: var(--ff-primary);
}

nav {
  background-color: var(--clr-base2);
  margin: 20px;
  font-size: var(--fs-navlink);
}

h1 {
  color: var(--clr-light);
  font-size: var(--fs-title);
}

h2 {
  margin: 50px;
}

hr {
  background-color:var(--clr-light);
}

* {
  box-sizing: border-box;
}

p {
  color: var(--clr-light);
}

.person-card {
  float: left;
  padding: 25px; /* if you want space between the images */
  margin: 25px;
  background-color: var(--clr-card);
  box-shadow: 10px 10px #424242;
  color: var(--clr-light);
  border-radius: 10px;
}

.person-card h3 {
  font-size: var(--fs-name);
}

.person-card p {
  font-size: var(--fs-card);
}

.navbar .navbar-nav .nav-link {
    color: var(--clr-light);
    margin-left: 30px;
}

.navbar .navbar-nav .active {
  text-decoration: underline;
}

.jumbotron {
  background-color: var(--clr-base2);
  border-bottom: 5px solid var(--clr-accent);
  padding-bottom: 0px;
}

.scan-waste {
  background-color: var(--clr-base2);
  border: 4px solid var(--clr-accent);
  border-radius: 40px;
  width: 170px;
  height: 70px;
  color: var(--clr-light);
  margin-top: 200px;
  font-size: var(--fs-buttons);
}

img {
  display: block;
  margin: auto;
  margin-bottom: 100px;
}

/******** Learn More ********/
button.waste-category { 
  width: 150px;
  height: 500px;
  margin: 5px;
  background-color:var(--clr-base1);
  font-family: var(--ff-primary);
  font-size: var(--fs-name);
  border: none;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.modal-content {
  background-color: var(--clr-card);
  font-size: var(--fs-card);
  text-align: left;
  padding: 20px;
  margin: auto;
  border: var(--clr-gray) 10px solid;
  border-radius: 10px;
  height: 70%;
  width: 80%;
  overflow-y: auto;
}

#content > h3,h4 {
    font-size: var(--fs-name);
    color: var(--clr-light);
}
.modal-content > h4 {
  font-size: var(--fs-card);
  color: var(--clr-light);
}

#close_modal {
  float: left;
  font-size: 50px;
  color: var(--clr-light);
}